body{
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    margin: 0;
}
#nav{
    height: 60px;
    justify-content: space-evenly;
}
figure{
    width: 180px;
}
footer{
    height: 60px;
}
#nav-links{
    margin-top: 20px;
}
#nav-links li{
    margin: 20px;
    list-style-type: none;
}
.bottom-margin{
    margin-bottom: 60px;
}
#header-logo{
    text-decoration: none;
}
.dark-color{
    background-color: #1F2937;
}
.flex{
    display: flex;
}

.justify-around{
    justify-content: space-around;
}
.white-text{
    color: #F9FAF8;
}
.margin-right{
    margin-right: 100px;
}
#hero-section{
    align-items: center;
    height: 350px;
}
#hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
#hero-img{
    height: 300px;
    width: 460px;
}
.text-and-navlinks{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
#header-logo-text{
    font-size: 24px;
    color: #F9FAF8;
}
.call-to-action_bg-color{
    background-color: #3882F6;
}
#call-to-action-section{
    height: 400px;
    align-items: center;
}
#call-to-action{
    height: 150px;
    width: 1000px;
    align-items: center;
}
#information-header{
    color: #1F2937;
    font-size: 36px;
    font-weight:bold;
    }
figure img{
    height: 150px;
    width: 205px;
    margin-bottom: 10px;
    border: 3px solid #3882F6;
}
.qoute-bg-color{
    background-color: #E5E7EB;
}
.qoute-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}
.qoute-person{
    justify-content: right;
}
#qoute-section{
    height: 400px;
    align-items: center;
} 
#qoute-section div{
    width: 800px;
}
#call-to-action .signup-btn{
    border: 1px solid #F9FAF8;
}
.signup-btn{
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30px;
    width: 100px;
}
.border{
    border-radius: 5px;
}